.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    max-width: 350px;
    width: 90%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    background-color: var(--color-yellow);

    a {
        color: var(--color-white);

        &:hover {
            background-color: var(--color-black);
        }
    }

    &__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 0.5rem;
    }

    &__bottom {
        overflow: hidden;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;

        width: 100vw;
        height: 100vh;

        background-color: hsla(0, 0%, 0%, 0.5);
    }

    &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        position: relative;

        &-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            position: absolute;
            right: 0.5rem;

            width: 3rem;
            height: 3rem;

            color: var(--color-white);

            -webkit-transition: var(--transition);

            -o-transition: var(--transition);

            transition: var(--transition);

            &:hover {
                color: var(--color-black);
            }
        }
    }

    &__link {
        padding: 0.75rem 2rem;
    }

    &__dropdown {
        display: none;

        width: -webkit-fit-content;

        width: -moz-fit-content;

        width: fit-content;

        -webkit-transition: var(--transition);

        -o-transition: var(--transition);

        transition: var(--transition);

        &-item {
            width: 100cqw;
        }

        &-link {
            display: block;

            padding: 0.5rem 0 0.5rem 3.5rem;
        }
    }
}

.close-menu-btn,
.open-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: var(--border-radius);

    width: 3rem;
    aspect-ratio: 1/1;

    color: var(--color-white);

    -webkit-transition: var(--transition);

    -o-transition: var(--transition);

    transition: var(--transition);

    &:hover {
        color: var(--color-black);
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.open-menu-btn {
    display: none;

    @media (width < 1000px) {
        display: block;
    }
}
