/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

nav {
    padding-top: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    @media (width < 1000px) {
        padding: 0;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    border-radius: var(--border-radius);
    padding: 0 2rem;

    -webkit-box-shadow: var(--shadow);

            box-shadow: var(--shadow);
    background-color: var(--color-yellow);

    @media (width < 1000px) {
        border-radius: 0;
        padding: 0.5rem;
    }

    a {
        color: var(--color-white);
    }

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @media (width < 1000px) {
            display: none;
        }
    }

    &__item {
        display: inline-block;

        position: relative;

        &:hover .nav__dropdown {
            display: block;
        }
    }

    &__link {
        display: block;
        text-align: center;

        padding: 1rem 2rem;

        position: relative;

        &:hover {
            background-color: var(--color-black);
        }
    }

    &__dropdown {
        display: none;

        width: -webkit-fit-content;

        width: -moz-fit-content;

        width: fit-content;

        position: absolute;
        z-index: 200;

        -webkit-box-shadow: var(--shadow);

                box-shadow: var(--shadow);
        background: var(--color-yellow);

        &-item {
            display: block;
        }

        &-link {
            display: block;

            padding: 0.5rem 2rem;

            &:hover {
                background-color: var(--color-black);
            }
        }
    }

    .button {
        padding: 0.5rem 1rem;

        background-color: var(--color-black);

        @media (width < 1160px) {
            display: none;
        }

        &:hover {
            background-color: var(--color-white);
            color: var(--color-black);
        }
    }
}
