.agents {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-bottom: 5rem;
    }
    &__header {
        color: var(--color-white);

        span {
            color: var(--color-yellow);
        }
    }
    &__description {
        color: var(--grey);
    }

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        margin-bottom: 5rem;

        @media (width <= 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width <= 700px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        border: 1px solid var(--color-yellow);
        border-radius: 1rem;
        padding: 1rem;
    }

    &__card-image {
        border: 1px solid var(--color-yellow);
        border-radius: 50%;
        margin-bottom: 1rem;

        width: 35%;
    }

    &__card-header {
        color: var(--color-white);
    }

    &__card-city {
        color: var(--color-yellow);
    }
}
