.agency {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    padding: 10rem 0;

    @media (width < 1150px) {
        grid-template-columns: 1fr;
    }

    @media (width <= 700px) {
        padding: 5rem 0;
    }

    &__1st-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__header {
        color: var(--color-white);
    }

    &__subheader {
        margin-bottom: 1rem;

        line-height: 1.6;
        font-size: 2rem;

        color: var(--color-white);
    }

    &__description {
        margin-bottom: 1rem;
        color: var(--color-grey);
    }

    &__image {
        border-radius: 0.5rem;

        height: 100%;
    }

    span {
        color: var(--color-yellow);
    }

    &__2nd-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__header-icons {
        display: flex;
        align-items: center;

        padding: 0.55rem 0;
    }

    &__header-icon {
        border-radius: 50%;

        width: 3rem;

        background-color: var(--color-yellow);

        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }

    &__card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__card-header {
        color: var(--color-yellow);

        font-size: 1.5rem;
    }

    &__card-description {
        color: var(--color-grey);
    }
}
