/* ------------ Imports ------------ */
@import "styles/style.scss";

/* ------------ Agency ------------ */

.agency {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    padding: 10rem 0;

    @media (width < 1150px) {
        grid-template-columns: 1fr;
    }

    @media (width <= 700px) {
        padding: 5rem 0;
    }

    &__1st-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__header {
        color: $white;
    }

    &__description {
        color: hsl(0, 0%, 75%);
    }

    &__image {
        border-radius: 1rem;

        aspect-ratio: 16 / 9;
    }

    span {
        color: $yellow-dark;
    }

    &__2nd-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__header-icons {
        display: flex;

        position: relative;
    }

    &__header-icon {
        border-radius: 50%;

        width: 3rem;

        margin-bottom: 1rem;

        background-color: $yellow-dark;

        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }

    &__card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__card-content {
        display: flex;
        flex-direction: column;

        padding: 0 1rem;
    }

    &__card-header {
        color: $yellow-dark;
    }

    &__card-description {
        color: hsl(0, 0%, 75%);
    }
}
