.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 0.2rem solid var(--color-yellow);
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;

    &__header {
        color: var(--color-yellow);
    }

    &__description {
        color: var(--color-grey);

        margin-bottom: 1rem;
    }

    &__input {
        display: flex;

        border-radius: 1rem;
        margin-bottom: 1rem;
        padding: 0.75rem 1.25rem;

        max-width: 30rem;

        background-color: var(--color-white);
        color: var(--color-black);
    }
}
