.properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__header {
        color: var(--color-yellow);
    }
    &__subheader {
        margin-bottom: 4rem;

        color: var(--color-white);
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: var(--gap-card-wrapper);

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: left;

        border: 1px solid var(--color-yellow);
        border-radius: 1rem;
        padding: 1rem;

        //background: var(--bg-gradient);
        background: var(--bg-gradient-card);
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(55, 55, 55, 0.8));

        background-color: hsla(0, 0%, 10%, 1);
        background-image: radial-gradient(at 80% 100%, hsla(25, 0%, 0%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(0, 0%, 11%, 1) 0px, transparent 50%);
    }

    &__card-image {
        border-radius: 0.5rem;

        aspect-ratio: 16 / 9;

        margin-bottom: 1rem;
    }

    &__card-header {
        color: var(--color-white);
    }

    &__card-quantity {
        min-height: 3.375rem;

        color: var(--color-grey);

        @media (width < 850px) {
            min-height: auto;
            min-height: fit-content;
        }
    }

    .button {
        @media (width <= 400px) {
            width: 100%;
        }
    }

    .button--secondary {
        @media (width <= 400px) {
            width: 100%;
        }
    }
}
