.properties {
    &__subheader {
        text-align: center;

        margin-bottom: 4rem;

        @media (width < 400px) {
            text-align: left;
        }
    }

    &__cards {
        display: -ms-grid;
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        gap: var(--gap-card-wrapper);

        @media (width < 400px) {
            //grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        }
    }

    &__card {
        border-radius: var(--border-radius);

        position: relative;
        overflow: hidden;

        height: 25rem;

        -webkit-box-shadow: var(--shadow);

        box-shadow: var(--shadow);

        &:hover .properties__image {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
    }

    &__image-container {
        position: relative;
        z-index: -10;

        height: 100%;
    }

    &__image {
        border-radius: var(--border-radius);

        height: 100%;

        -webkit-transition: var(--transition);

        -o-transition: var(--transition);

        transition: var(--transition);
    }

    &__tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1rem;

        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
    }

    &__tag {
        border-radius: var(--border-radius);
        padding: 0.35rem 0.8rem;

        font-weight: bold;

        &--sale {
            background-color: var(--color-white);
            color: var(--color-black);
        }

        &--featured {
            background-color: var(--color-black);
            color: var(--color-white);
        }

        &--new {
            background-color: var(--color-white);
            color: var(--color-black);
        }

        &--rent {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }

    &__details {
        border-radius: var(--border-radius);
        margin: 1rem;
        padding: var(--padding);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        background-color: var(--bg-white);

        @media (width < 500px) {
            margin: 0.5rem;
        }
    }

    &__title {
        font-size: 1rem;

        font-weight: bold;
    }

    &__address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        margin-bottom: 0.7rem;

        color: #777;

        i {
            margin-right: 0.3rem;
        }
    }

    &__price {
        font-weight: bold;
        font-size: 1.25rem;

        color: #e63946;

        @media (width < 500px) {
            display: none;
        }

        &--hidden {
            display: none;

            @media (width < 500px) {
                display: block;

                margin-top: 0.5rem;
            }
        }
    }

    &__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1.2rem;
    }

    &__info-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        font-size: 0.8rem;

        color: #555;

        i {
            margin-right: 0.3rem;

            color: #777;
        }
    }
}
