/* ------------ Imports ------------ */
@import "styles/style.scss";

/* ------------ Properties ------------ */

.properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 10rem 0;

    @media (width <= 700px) {
        padding: 5rem 0;
    }

    &__header {
        color: $yellow;
    }
    &__subheader {
        margin-bottom: 4rem;

        color: $white;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (width <= 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (width <= 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width <= 750px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: left;

        border: 1px solid $yellow;
        border-radius: 1rem;
        padding: 1rem;

        background: $bg-gradient;
    }

    &__card-image {
        border-radius: 0.5rem;

        aspect-ratio: 16 / 9;

        margin-bottom: 1rem;
    }

    &__card-header {
        color: $white;
    }

    &__card-quantity {
        color: $grey;
    }
}
