nav {
    padding-top: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    @media (width < 1000px) {
        padding: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: var(--border-radius);
    padding: 0 2rem;

    box-shadow: var(--shadow);
    background-color: var(--color-yellow);

    @media (width < 1000px) {
        border-radius: 0;
        padding: 0.5rem;
    }

    a {
        color: var(--color-white);
    }

    &__list {
        display: flex;
        @media (width < 1000px) {
            display: none;
        }
    }

    &__item {
        display: inline-block;

        position: relative;

        &:hover .nav__dropdown {
            display: block;
        }
    }

    &__link {
        display: block;
        text-align: center;

        padding: 1rem 2rem;

        position: relative;

        &:hover {
            background-color: var(--color-black);
        }
    }

    &__dropdown {
        display: none;

        width: fit-content;

        position: absolute;
        z-index: 200;

        box-shadow: var(--shadow);
        background: var(--color-yellow);

        &-item {
            display: block;
        }

        &-link {
            display: block;

            padding: 0.5rem 2rem;

            &:hover {
                background-color: var(--color-black);
            }
        }
    }

    .button {
        padding: 0.5rem 1rem;

        background-color: var(--color-black);

        @media (width < 1160px) {
            display: none;
        }

        &:hover {
            background-color: var(--color-white);
            color: var(--color-black);
        }
    }
}
