nav {
    display: grid;
    place-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    height: 5rem;
    width: 100vw;

    background-color: var(--color-yellow);

    @media (width < 600px) {
        height: 3.5rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    &__right {
        display: flex;
        align-items: center;
        gap: 2rem;

        @media (width < 1000px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }

    &__link {
        font-size: 1.125rem;
        font-weight: 500;

        color: var(--color-white);

        &:hover {
            color: var(--color-black);
        }
    }

    .button {
        padding: 0.75rem;

        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-black);
        }
    }
}
