/* ------------ Imports ------------ */

/* ------------ Variables ------------ */

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 80%);
$black: hsl(0, 0%, 0%);
$yellow: hsl(39, 100%, 50%);

$dark-grey: hsl(0, 0%, 11%);
$grey-semi-dark: hsl(0, 0%, 19%);

$color-white-hover: hsl(0, 0%, 84%);
$color-yellow-hover: hsl(39, 96%, 41%);

$bg-gradient: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);

$transition: all 0.3s ease-in-out;

/* ------------ Utilities ------------ */

.container--nav {
    width: 95%;
}

.container {
    width: 80%;

    margin: 0 auto;
    max-width: 1600px;

    position: relative;

    @media (width <= 600px) {
        width: 90%;
    }
}

/* ------------ Reset ------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ------------ Layout ------------ */

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: 5rem auto auto auto;

    min-height: 100vh;

    background-color: $black;

    @media (width <= 600px) {
        grid-template-rows: 3.5rem auto auto auto;
    }
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;

    background-color: $dark-grey;
}

main {
    display: grid;
    grid-area: main;

    grid-template-areas:
        "properties"
        "listings"
        "value"
        "agency"
        "helpful"
        "city"
        "agents"
        "marketplace"
        "newsletter";
}

#properties {
    grid-area: properties;
}

#listings {
    grid-area: listings;
}

#value {
    grid-area: value;
}

#agency {
    grid-area: agency;
}

#helpful {
    grid-area: helpful;
}

#city {
    grid-area: city;
}

#agents {
    grid-area: agents;

    background-color: $dark-grey;
}

#marketplace {
    grid-area: marketplace;

    background-color: $black;
}

#newsletter {
    grid-area: newsletter;

    background-color: $black;
}

/* ------------ Typography ------------ */

h1 {
    font-weight: 900;
    font-size: 4.5rem;

    @media (width <= 770px) {
        font-size: 3.5rem;
    }

    @media (width <= 540px) {
        font-size: 3rem;
    }

                @media (width <= 300px) {
        font-size: 2.5rem;
    }
}

h2 {
    font-weight: 700;
    font-size: 2.75rem;

    @media (width <= 300px) {
        font-size: 2.25rem;
    }
}

h3 {
    font-weight: 600;
    font-size: 1.75rem;

    @media (width <= 500px) {
        font-size: 1.25rem;
    }
}

h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;

    color: hsl(0, 0%, 100%);

    transition: all 300ms ease;

    @media (width <= 400px) {
        //font-size: 0.9rem;
    }
}

/* ------------ General ------------ */

a {
    cursor: pointer;
}

img {
    //display: inline;
    //object-fit: cover;
    //object-position: center;

    width: 100%;
}

/* ------------ Mobile Navbar ------------ */

.window-scrolled {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
}
