/* ------------ Imports ------------ */

/* ------------ Variables ------------ */

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 80%);
$black: hsl(0, 0%, 0%);
$yellow: hsl(39, 100%, 50%);

$dark-grey: hsl(0, 0%, 11%);
$grey-semi-dark: hsl(0, 0%, 19%);

$color-white-hover: hsl(0, 0%, 84%);
$color-yellow-hover: hsl(39, 96%, 41%);

$bg-gradient: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);

$transition: all 0.3s ease-in-out;

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 80%);
    --color-black: hsl(0, 0%, 0%);
    --color-yellow: hsl(39, 100%, 50%);

    --dark-grey: hsl(0, 0%, 11%);
    --grey-semi-dark: hsl(0, 0%, 19%);

    --color-white-hover: hsl(0, 0%, 84%);
    --color-yellow-hover: hsl(39, 96%, 41%);

    --bg-gradient: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
        linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);

    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: 5rem auto auto auto;

    min-height: 100vh;

    background-color: $black;

    @media (width <= 600px) {
        grid-template-rows: 3.5rem auto auto auto;
    }
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;

    background-color: $dark-grey;
}

main {
    grid-area: main;
}

a {
    cursor: pointer;
}

img {
    display: inline;
    object-fit: cover;
    object-position: center;

    width: 100%;
}