.container-nav {
    width: 95%;
}

.container {
    width: 80%;

    margin: 0 auto;
    max-width: 1600px;

    position: relative;

    @media (width <= 600px) {
        width: 90%;
    }
}

.window-scrolled {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
}

.button-wrapper {
    display: flex;
    gap: 1rem;

    margin-top: 1.5rem;

    @media (width <= 400px) {
        flex-direction: column;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 0.35rem;

    border-radius: var(--border-radius);
    padding: var(--padding-button);

    width: fit-content;

    font-weight: var(--font-weight-button);

    color: var(--color-black);
    background-color: var(--color-yellow);

    &:hover {
        background-color: var(--color-yellow-hover);
    }

    &:active {
        border: 1.5px solid var(--color-white);
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.25rem;

    color: var(--color-white);

    svg {
        height: 3rem;
        width: 3rem;
    }
}
